<!DOCTYPE html>
<html>
<head>
	
</head>

<body>
	<div class="full-width-container">
		<nav class="navbar">
			<div class="container">
				<a id="Agora" href="/">Agora</a>
			</div>
			<div class="navbar-right">
				<ul class="navbar-list">
					<li class="navbar-item">
						<a href="#About">About</a>
					</li>
					<li class="navbar-item">
						<a href="#Profile">Profile</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="section-header">
			<p>Agora</p>
		</div>
		<div class="section-info">
			<h3 class="section-info-description">
				The most revolutionary app in business communications synergy.
			</h3>
		</div>
	</div>
</body>
</html>

